@import "common";

#calendar {
    .fc-timegrid-event {
        //width: fit-content;
    }

    .fc-event-title {
        writing-mode: tb-rl;
    }


    .fc-timegrid-event-harness-inset{
        .fc-timegrid-event {
            @media (max-width: 768px) {
                margin: 0 2px;
                padding: 4px 2px;
                //width: fit-content;
            }
            margin: 0 10px;
            border-radius: 4px;
            padding: 8px 5px;
            font-size: 14px;
            justify-self: center;
        }
    }

    @media (max-width: 768px) {
        .fc-toolbar-chunk {
            .fc-toolbar-title {
                font-size: 1rem;
            }

            button {
                font-size: 0.8rem;
            }
        }

        .fc-col-header {
            font-size: 0.8rem;
        }

        .fc-timegrid-slot-label-cushion {
            opacity: 0;
        }

        .fc-scroller {
            overflow-x: auto !important;
            /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
            -ms-overflow-style: none;
            /*Firefoxへの対応*/
            scrollbar-width: none;
            /*Google Chrome、Safariへの対応*/
            ::-webkit-scrollbar{
                display: none;
            }
        }

        .fc-timegrid, .fc-daygrid {
            width: 100%;
        }

        .fc-timegrid-col, .fc-day {
            width: 150px;
        }
    }
}
